.icon{
    width: 20px;
    height: 11px;
    margin-right: 15px;
    cursor: pointer;
    fill: currentColor;

}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  