.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 100%;
}

.tabList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.tab {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s ease;
}

.tab:hover {
  color: #734AEF;
}


.activeTab {
  color: #734AEF;
}

.activeTab .icon {
  fill: #734AEF;

}

.icon {
  width: 44px;
  height: 44px;
  fill: rgba(255, 255, 255, 0.6);
  transition: fill 0.3s ease;
}

.label {
  display: none;
  font-size: 16px;
}

.currencyMobile {
  display: block;
}

@media (min-width: 768px) {
  .sidebar {
    flex-direction: column;
    align-items: flex-start;
  }

  .tabList {
    flex-direction: column;
    gap: 16px;
  }

  .label {
    display: inline;
    color: rgba(255, 255, 255, 0.6);;
  }

  .currencyMobile {
    display: none;
  }
 
}
