.mobileList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 16px auto 0 auto;
  padding: 0;
  list-style: none;
  align-items: center;
}

.card {
  width: 280px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.02)
  );
  border-radius: 12px;
  padding: 16px;
  color: #fff;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cardRow:last-child {
  border-bottom: none; /* Sum satırında çizgi olmasın */
}

.cardRow strong {
  font-weight: 600;
  font-size: 14px;
}

.cardRow span {
  font-size: 14px;
}

/* Sum Renkleri */
.sumIncome {
  color: #FFB627;
  font-weight: bold;
}

.sumExpense {
  color: #FF868D;
  font-weight: bold;
}

/* Footer */
.cardFooter {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

/* Butonlar */
.editBtn {
  background: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  opacity: 0.8;
}

.editBtn:hover {
  opacity: 1;
}

.deleteBtn {
  background: linear-gradient(
    96.76deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 6px 20px;
  cursor: pointer;
  font-size: 12px;
}

.editIcon {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

/* Masa Üstü Tablolar */
tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

td {
  padding: 12px 16px;
  color: #fff;
  font-size: 14px;
}

td:last-child {
  display: flex;
  gap: 8px;
  align-items: center;
}

td button {
  font-size: 12px;
  cursor: pointer;
}

td .editBtn {
  background: none;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0;
}

td .deleteBtn {
  background: linear-gradient(
    96.76deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 4px 10px;
}
